<!DOCTYPE html>
<html lang="en" data-sceneid="{{sceneID}}">
<head>
    <meta charset="UTF-8">
    <link href="../nodecg-speedcontrol/css/common.css" rel="stylesheet"/>
    <link href="{{sceneID}}.css" rel="stylesheet"/>
    <script src="../nodecg-speedcontrol/components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="../nodecg-speedcontrol/components/jquery/dist/jquery.min.js"></script>
    <script src="../nodecg-speedcontrol/js/animation.js"></script>
    <script src="../nodecg-speedcontrol/js/speedcontrol.js"></script>
    <script src="../nodecg-speedcontrol/js/editmode.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/cupertino/jquery-ui.css" />
</head>
<body>
    <div id="window-container">
        <div id="positionDebug" class="positionable">
            <div id="positionDebugText">
                X: 100
                Y: 100
            </div>
            <div id="editModeButtons">
                <button id="generateCSSContentButton">Save Layout</button>
                <button id="resetCSSContentButton">Reset Layout</button>
            </div>
        </div>

        <div id="marathonLogo" class="positionable resizable keepproportion"> </div>

        <div id="runner1TimerFinishedContainer" class="runnerTimerFinishedContainer positionable">
            <div class="finishedLogo"></div>
            <div class="dummyTextable runnerTimerFinished"></div>
        </div>
        <div id="runner2TimerFinishedContainer" class="runnerTimerFinishedContainer positionable">
            <div class="finishedLogo"></div>
            <div class="dummyTextable runnerTimerFinished"></div>
        </div>

        <div id="team1" class="team positionable resizable">
          <div id="teamName1" class="teamName name "></div>
          <!--<ul class="teamList"></ul>-->
          <div id="teamRotation1" class="playerContainer ">
              <div class="runnerInfo"> </div>
              <div class="runnerLogo">
                  <img class="twitchLogo" src="../nodecg-speedcontrol/images/twitchlogo.png">
              </div>

          </div>
        </div>

        <div id="team2" class="team positionable resizable">
          <div id="teamName2" class="name  "></div>
          <!-- <ul class="teamList"></ul> -->
          <div id="teamRotation2" class="playerContainer  ">
              <div class="runnerLogo">
                <img class="twitchLogo" src="../nodecg-speedcontrol/images/twitchlogo.png">
              </div>
              <div class="runnerInfo"> </div>
          </div>
        </div>

        <div id="timerContainer" class="positionable resizable">
            <div id="timer">
            </div>
            <div id="runInformationGameEstimate">
            </div>
        </div>

        <div id="runInformationContainer" class="positionable resizable">
            <div id="runInformationLogo">
            </div>
            <div id="runInformationFields">
                <div id="runInformationGameName">
                </div>
                <div id="runInformationGameCategory">
                </div>
                <div id="runInformationGameSystem">
                </div>
            </div>
        </div>
        <div id="gameCapture1" class="positionable resizable gameCapture" aspect-ratio="4:3">
        </div>
        <div id="gameCapture2" class="positionable resizable gameCapture" aspect-ratio="4:3">
        </div>
    </div>
</body>
</html>
